<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <base href="/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <style>
        html {
            background-color: #475e45;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #d7d9c1;
            font-size: 1.5em;
            text-align: center;
        }
    </style>
    <body>
        <h1>Broj dosad generiranih ulaznica: {{ . }}</h1>
    </body>
</html>
